body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: rgb(255, 230, 118);
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #60cfb3;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main > span {
    align-self: center;
    padding-bottom: 10px;
    color: white;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #99ccff;
    color: white;
}

section div {
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(137, 255, 178);
    color: white;
}

section div h3 {
    margin-top: 0;
}

section p {
    background-color: #ff0000;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
}

ul {
    background-color: #ffbe64;
    padding: 15px 20px;
    color: black;
}

li {
    background-color: #f9ff82;
    padding: 10px 5px;
    margin: 10px;
}

ol {
    background-color: #ffc369;
    padding: 15px 20px;
    color: black;
}

img {
    width: 200px;
    height: 200px;
}

footer {
    background-color: #ff9b49;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}
#name {
    background-color: green;
    font-size: 50px;
    font-weight: 50px;
    padding: 50px;
    margin: 50px;
    border-radius: 150px;
    border: ridge 5px rgb(245, 255, 62);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 70px;
    color: #00fff7;
    transition: 1s ease all;
}

h1:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    height: 70px;
    transform: translateY(-35px) scale(0.5) rotate(360deg);
}

#Naranbadrakh {
    color: #ffffff;
}

.title {
    transform: scale(1);
    background-color: black;
}

section {
    background-color: #e4ec52;
}

section div {
    background-color: aqua;
    border-radius: 10px;
}

ul {
    border-radius: 10px;
}

li {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 1s all;
    font-weight: 50px;
}

li:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    transform: translateY(-15px);
}

button {
    color: black;
}

#Naba {
    border-radius: 10px;
}

#Hha {
    background-color: rgb(137, 255, 178);
}

button {
    text-align: center;
}

header h1 {
    text-align: center;
    height: 135px;
}

li {
    background-color: #ffe96e;
}

script {
    padding: 50px;
}

#div {
    background-color: #60cfb3;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    padding: 50px;
    margin: 50px;
}

header div {
    background-color: #ff0000;
    font-size: 100px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.colors {
    font-size: large;
    background-color: brown;
    padding: 30px;
    border-radius: 10px;
}

#car {
    border-radius: 10px;
}

#car1 {
    border-radius: 10px;
}

#car2 {
    border-radius: 10px;
}

#car3 {
    border-radius: 10px;
}

#car4 {
    border-radius: 10px;
}

#btnRefresh {
    border-radius: 10px;
}
